/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }

  h2 {
    padding-bottom: 3rem;
  }

  @media (max-height: 381px) {
    .navbar-nav > li > a {
      padding-top: 0px;
      padding-bottom: 0.3em;
      }
     }

  #social {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 3rem;
  }

  #social li a {
    text-decoration: none;
    color: white;
    padding-right: 1rem;
  }

  /* JUMBOTRON
  -------------------------------------------------- */

  .jumbotron {
    padding: 15% 0px;
    background-image: url('../img/background-image2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  @media (max-width: 769px) {
    .jumbotron {
      background-attachment: initial;
    }
  }

  .jumbotron .container h1 {
    color: white;
  }

  .jumbotron .container p {
    color: white;
  }

  .divider {
    background-color: white;
    width: 100%;
  }

  /* FEATURED VIDEOS
  -------------------------------------------------- */
  .featured-videos {
    text-align: center;
  }

  .featured-videos .embed-responsive {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
  }

  /* SPOTIFY
  -------------------------------------------------- */
  /* Cover Image */

  .picture-box {
    position: relative;
  }

  .picture-box img {
    width: 100%;
  }

  .picture-box .fa-spotify {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #1ED760;
  }

  /* Links */

  .spotify-link {
    color: #1ED760;
  }

  .spotify-link:hover {
    color: #15883e;
  }

  .podcast-links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    padding: 1rem;
  }

  .podcast-link {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 3rem;
  }

  .podcast-link:hover {
    text-decoration: none;
  }

  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }


  /* Schedule
  ------------------------- */
  .schedule {
    text-align: center;
    padding-bottom: 3rem;
  }

  .schedule .card {
    height: 100%;
  }

  .card-img-box {
    position: relative;
    overflow: hidden;
    background: black;
  }

  .card-img-box:hover .card-img-text {
    visibility: visible;
  }

  .card-img-top {
    transition: 0.3s;
  }

  .card-img-top:hover {
    transform: scale(1.15);
    opacity: 0.5;
  }

  .card-img-text {
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }

  .schedule-info {
    display: flex;
    border: lightgrey 1px solid;
    border-radius: 1rem;
    padding: 2rem;
  }

