/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    text-align: center;
}

#social {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 3rem;
}

#social li a {
    text-decoration: none;
    color: white;
    padding-right: 1rem;
}

/* JUMBOTRON
-------------------------------------------------- */

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15%;
    margin-bottom: 3rem;
    height: calc(50vh - 3rem);
    background-image: url('../img/background-image2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.jumbotron h1 {
    color: white;
}

h1 {
    padding-bottom: 3rem;
}

/* Months
-------------------------------------------------- */

.month {
    background-color: #2F333D;
    margin-bottom: 3rem;
}

.month h2 {
    color: white;
    padding: 15px;
    margin: 0px;
}

/* EVENTS
-------------------------------------------------- */
.events {
    display: flex;
    flex-direction: column;
}

.event-card {
    border: lightgrey 1px solid;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    height: 250px;
}

.event-img-box {
    position: relative;
    flex: 1.5;
    height: 100%;
    overflow: hidden;
}

.event-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 0rem 0rem 1rem;
}

.event-img-text {
    line-height: 2rem;
    width: 100%;
    font-size: 2rem;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,35%);
    padding: 5px;
}

.event-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 3;
}

.event-date {
    margin-top: 1rem;
    width: 80%;
    border-bottom: lightgrey 1px solid;
}

.event-date h3 {
    margin: 0px;
}

.event-date p {
    margin-bottom: 5px;
}

.event-location .address {
    margin-bottom: 0.5rem;
}

.event-location .venue {
    color: #4286C4;
}

.event-location .directions {
    padding: 2rem;
    color: #4286C4;
}

.event-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem 0.5rem 1rem;
    width: 100%;
}

.event-footer a {
    color: darkblue;
}

.event-footer .btn {
    color: white;
}